<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion bancaires</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
</head>
<body>
<div th:insert="~{Common/menu_bar :: menubar}"></div>
<div class="container">
    <h2 class="text-center">Consultation d'une opération</h2>
    <table class="table-borderless table-sm">
        <tbody>
        <tr class>
            <td><p class="p-2 mb-1 bg-dark text-white" >Date opération</p></td>
            <td><p class="p-2 mb-1 border border-dark" th:text="${#dates.format(operation.dateOperation, 'dd/MM/yyyy')}"></p></td>
        </tr>
        <tr>
            <td><p class="p-2 mb-1 bg-dark text-white">Intitulé opération</p></td>
            <td><p class="p-2 mb-2 table-light border border-dark" th:text="${operation.libelle}"></p></td>
        </tr>
        <tr>
            <td><p class="p-2 mb-1 bg-dark text-white">Montant opération</p></td>
            <td><p class="p-2 mb-1 table-light border border-dark" th:text="${operation.montant}"></p></td>
        </tr>
        <tr>
            <td><p class="p-2 mb-1 bg-dark text-white">Type opération</p></td>
            <td><p class="p-2 mb-1 table-light border border-dark" th:text="${operation.type}"></p></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/operation}" method="GET">
        <div class="box-footer mt-3 mb-2">
            <button type="submit" class="btn btn-primary">
                Revenir aux opérations
            </button>
        </div>
    </form>
</div>
</body>
</html>