<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion bancaire</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript">
        $(function(){
            $("#clientBancaireAutocomplete").autocomplete({
                source: "/produitBancaire/listeClientBancaireAutocomplete",
                minLength:2
            });
        });
    </script>
</head>
<body>
<div th:insert="~{Common/menu_bar :: menubar}"></div>
<div class="container">
    <div class="row">
        <div class=" col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center" th:if="${produitBancaire.id != null}">Modification d'un produit bancaire</h1>
            <h1 class="text-center" th:unless="${produitBancaire.id != null}">Création d'un produit bancaire</h1>
            <div class="card-body">
                <form th:action="@{/produitBancaire/save/}" th:object="${produitBancaire}" method="POST">
                    <div class="form-group">
                        <label for="select_clientBancaire">Choisir un client bancaire</label>
                        <select
                            th:value="${clientBancaireId}" name="clientBancaireId" id="select_clientBancaire"
                            class="form-control" required>
                            <option value=""> - Choisissez un client bancaire -</option>
                            <th:block th:each="cb:${listeClientsBancaires}">
                                <option th:text="${#strings.arrayJoin(cb.getPersonnes().![nomComplet()], ' - ')}"
                                        th:value="${cb.id}"
                                        th:selected="${produitBancaire.clientBancaire != null and cb.id == produitBancaire.clientBancaire.id}"/>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="select_typeProduit">Choisir un type de produit</label>
                        <select
                                th:value="${TypeProduitId}" name="typeProduitId" id="select_typeProduit"
                                class="form-control" required>
                            <option value=""> - Choisissez un type de produit -</option>
                            <th:block th:each="tp:${listeTypesProduits}">
                                <option th:text="${tp.getIntitule()}"
                                        th:value="${tp.id}"
                                        th:selected="${produitBancaire.typeProduit != null and tp.id == produitBancaire.typeProduit.id}"/>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Solde courant</label>
                        <input type="text" name="soldeCourant"
                               th:field="*{solde_courant}"
                               class="form-control"
                               placeholder="Saisir le solde courant du compte"/>
                    </div>
                    <div class="box-footer">
                        <input type="hidden" th:field="*{numeroCompte}" id="numeroCompte"/>
                        <input type="hidden" th:field="*{id}" id="id"/>
                        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>